<h1 class="ribbon">
	<strong class="ribbon-content">Newsfeeds</strong>
</h1>
<% if newsfeeds_streams.size==0 %>
No newsfeed to show
<%else %>
<% newsfeeds_streams.each do |stream| %>
<div class="newsfeedrow">
	<%= "#{stream.actor_name_method} #{stream.verb} #{stream.indirect_actor_name_method} #{stream.object_name_method}" %>
</div>
<% end %>
<div class="sb_pagination">
	<%= will_paginate newsfeeds_streams,:container => false %>
</div>
<%end %>
</br>
