<h2>Beamers in Socialbeam</h2>
<div>	
	<ul>
		<% all_connections.each do |beamer| %>
		<% unless beamer==current_user %>
		<li>
			<%= link_to "#{beamer.first_name} #{beamer.last_name}", user_path(beamer.beamer_id) %>
				<% if Friendship.are_friends(current_user.beamer_id,beamer.beamer_id) %>
				 <label class="label">Friend</label>
				<% else %>
				 <%= link_to "Add Friend",addfriend_friendships_path(:beamer_id => beamer.beamer_id) %>
			<% end %>
			<% end %>
		</li>	
		<% end %>
	</ul>
</div>