<h2>Friend Requests</h2>
<ol>
	<% @user.requested_friends.each do |friend| %>
	<li>
		<%=link_to "#{friend.full_name}",user_path(friend.beamer_id) %> 
		<%= link_to "Accept",accept_fr_friendships_path(:beamer_id =>friend.beamer_id) %> |
		<%= link_to "Reject",reject_fr_friendships_path(:beamer_id =>friend.beamer_id) %>
	</li>
	<% end %>
</ol>